<section id="profile" class="profile">
    <app-title title="PROFILE"></app-title>
    <div class="profile-container w-100 row align-items-center justify-content-center">
        <div class="img-profile mx-3 col-8 col-md-4 d-flex justify-content-center align-items-center">
            <img id="img-profile" src="assets/img/profile-pb.png"  height="350px" alt="">
        </div>
        <div class="content-profile col-10 col-md-6 ">
            <div class="text-profile">
                <p>
                    I'm passionate about technology and software development, especially creating interactive and
                    user-friendly
                    web applications.
                </p>
                <p>
                    I'm always seeking to expand my knowledge and skills in this area to create more innovative and
                    efficient
                    solutions.
                </p>
            </div>
            <div class="line-profile">
                <p data-text="BOOSTED BY CHALLENGES AND TO FIND THE BEST RESOLUTION FOR THEM.">
                    BOOSTED BY CHALLENGES AND TO FIND THE BEST RESOLUTION FOR THEM.
                </p>
            </div>
            <span></span>
        </div>
    </div>
</section>