<section [id]="profileData.sectionId" class="profile">
  <app-title [title]="profileData.sectionTitle"></app-title>
  <div
    class="profile-container overflow-hidden w-100 row align-items-center justify-content-center"
  >
    <div
      class="img-profile mx-3 col-8 col-md-4 d-flex justify-content-center align-items-center"
    >
      <img id="img-profile" src="assets/img/perfil.png" height="420px" alt="" />
    </div>
    <div class="content-profile col-10 col-md-6">
      <div class="text-profile">
        <p *ngFor="let text of profileData.profileData">
          {{ text }}
        </p>
      </div>
      <div class="line-profile">
        <p
          data-text="BOOSTED BY CHALLENGES AND TO FIND THE BEST RESOLUTION FOR THEM."
        >
          BOOSTED BY CHALLENGES AND TO FIND THE BEST RESOLUTION FOR THEM.
        </p>
      </div>
      <span></span>
    </div>
    <div class="d-flex gap-4 justify-content-around flex-wrap">
      <i class="fa-brands fa-html5" title="HTML5" style="font-size: 80px"></i>
      <i class="fa-brands fa-css3-alt" title="CSS3" style="font-size: 80px"></i>
      <i class="fa-brands fa-js" title="Javascript" style="font-size: 80px"></i>
      <i class="fa-brands fa-angular" title="Angular" style="font-size: 80px"></i>
      <i class="fa-brands fa-react" title="ReactJs" style="font-size: 80px"></i>
      <i class="fa-brands fa-figma" title="Figma" style="font-size: 80px"></i>
    </div>
  </div>
</section>
