.portfolio-card{
    box-shadow: rgba(0, 0, 0, 0.25) 4px 4px 10px 4px;
    background-color: #1A1A1A;
    width: 20rem;
    border-radius: 30px;
    border: none;
}

.portfolio-card-img{
    min-height: 360px;
    border-radius: 30px ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}