<section id="contact" class="contact">
    <app-title title="CONTACT" color="second"></app-title>
    <div class="subtitle d-flex justify-content-center fs-4">
        <p>Let's work together</p>
    </div>
    <div class="d-flex flex-column align-items-center my-4">
        <form action="https://formspree.io/f/maygrwbd" method="POST"
            class="w-100 my-4 d-flex flex-column justify-content-center">
            <div class="d-flex justify-content-around flex-wrap">
                <div class="col-md-5 col-10">
                    <div class="mb-3">
                        <label class="form-label" for="name">Name:</label>
                        <input class="form-control" type="text" name="name" id="name">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="phone">Phone:</label>
                        <input class="form-control" type="tel" name="phone" id="phone">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="email">Email:</label>
                        <input class="form-control" type="email" name="email" id="email">
                    </div>
                </div>
                <div class="mb-3 col-md-5 col-10">
                    <label class="form-label" for="message">Message:</label>
                    <textarea class="form-control" name="message" id="message" rows="8" resize="false"></textarea>
                </div>
            </div>
            <div class="mt-5 d-flex justify-content-center">
                <button type="submit" class="fw-bold btn btn-outline-light px-4">Send</button>
            </div>
        </form>
    </div>
</section>