.title h3{
    font-family: "Montagna";
}

.title{
    border-bottom: 1px solid black;
    padding: 15px 25px;
}

.social{
    margin: 30px 0;
}

.social a{
    color: var(--primary-color);
}

.social a:hover{
    color: var(--third-color);
}