main {
    position: relative;
}


.timeline-infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 10px 40px 30px;
}

.timeline-infos-col {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.timeline-logo {
    border: 1px var(--third-color) solid;
    box-shadow: var(--third-color) 2px 3px 8px;
    width: 60px;
    height: 60px;
    rotate: 45deg;
    margin: 10px 0;
    overflow: hidden;
}

.timeline-logo img {
    rotate: -45deg;
}

.timeline-date {
    background-color: var(--primary-color);
    margin: 15px 15px 15px 0;

}

.timeline-duration {
    border: 1px var(--primary-color) solid;
}

.timeline-date,
.timeline-duration {
    width: fit-content;
    height: fit-content;
}

@media screen and (min-width: 992px) {

    .square {
        display: block;
        background-color: var(--primary-color);
        width: 32px;
        height: 32px;
        rotate: 45deg;
    }

    .middle {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    main .middle::before {
        z-index: -1;
        left: 50%;
        top: 0;
        content: "";
        border-left: 2px var(--primary-color) dashed;
        height: 100%;
        width: 2px;
        position: absolute;
    }

    .timeline-infos {
        flex-direction: row;
        justify-content: space-around;
        align-items: start;
    }

    .timeline-infos:nth-child(odd) {
        flex-direction: row-reverse;
        text-align: end;
    }

    .timeline-infos:nth-child(odd) .timeline-infos-col{
        flex-direction: row-reverse;
        justify-content: start;
    }

    .timeline-infos:nth-child(odd) .timeline-duration{
        float: right;
    }

    .timeline-infos:nth-child(odd) .logo-col{
        justify-content: start;
    }

    .timeline-infos-col {
        flex-direction: row;
        justify-content: end;
        align-items: center;
    }

    .date-col {
        display: flex;
        justify-content: space-around;
    }

    .logo-col {
        display: flex;
        justify-content: end;
    }
}